.avatarWrapper {
	position: relative;
	width: 16rem;
	height: 16rem;
	border-radius: 50%;
	overflow: hidden;
	border: 2px solid var(--color-white-10);
	cursor: pointer;
	transition: opacity 0.2s ease;
}

.avatarWrapper:hover .avatarWrapperEdit {
	opacity: 1;
	background-color: var(--color-light-04);
}
.avatarWrapperEdit {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	user-select: none;
	pointer-events: none;
	opacity: 0;
	transition: all 0.3s ease-in-out;
	backdrop-filter: grayscale(0.5);
}

.uploading {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 0.875rem;
}

.avatarImage {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.uploadText {
	font-size: 0.875rem;
}

.hiddenInput {
	display: none;
}

.errorText {
	font-size: 0.875rem;
	color: var(--color-error-10);
}

.avatarWrapper.uploading {
	opacity: 0.5;
	cursor: not-allowed;
}

.uploading {
	background-color: var(--color-black-05);
	color: var(--color-white-10);
	font-size: 0.875rem;
}

.uploading:hover {
	opacity: 0.5;
}
