.navbar {
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: var(--navbar-width);
	justify-content: space-between;
	padding: var(--block-paddings);
	--itemsize: 64px;
}

.navbarLogo {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	aspect-ratio: 1/1;
	& img {
		width: 100%;
		height: 100%;
	}
}
.navbarNavigation {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 8px;
	width: 100%;
}
.navbarNavigationItem {
	width: var(--itemsize);
	aspect-ratio: 1/1;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: var(--block-gaps);
	color: var(--color-light-10);
	border-radius: 50%;
	transition: stroke 0.1s ease-in-out, background-color, 0.1s ease-in-out;
	& a {
		width: 100%;
		height: 100%;
		transition: transform 0.3s ease-in-out;
		&:active {
			transform: scale(0.8);
			transition: transform 0.1s ease-in-out;
		}
	}
	& svg {
		color: inherit;
		width: 100%;
		height: 100%;
		stroke: var(--color-darkgray-10);
	}
}
.active {
	transition: stroke 0.3s ease-in-out, background-color, 0.4s ease-in-out;
	background-color: var(--color-darkgray-10);
	& svg {
		stroke: var(--color-light-10);
	}
}
.navbarNavigationTooltip {
	font-size: 1rem;
	padding: 3px 8px 5px;
	transition: all 0.2s ease-in-out;
	color: var(--color-light-10);
}
.navbarLogout {
	width: 100%;
	display: flex;
	justify-content: center;
	& button {
		width: var(--itemsize);
		aspect-ratio: 1/1;
		height: 100%;
		padding: var(--block-gaps);
	}
	& svg {
		width: 100%;
		height: 100%;
	}
}
