.noConnection {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-size: 1.5rem;
	cursor: progress;
	user-select: none;
	& > button {
		background-color: var(--color-darkgray-10);
		border-radius: var(--radius);
		color: var(--color-light-10);
		padding: 0.5rem 2rem;
		margin-top: 2rem;
		cursor: pointer;
		transition: all 0.1s ease-in-out;
		&:hover {
			transform: scale(0.99);
		}
	}
}
