.registerFormTitle {
	font-size: 32px;
	margin-bottom: 24px;
	padding-inline: 32px;
	padding-top: 8px;
}

.registerFormForm {
	width: 100%;
	height: fit-content;
	display: flex;
	flex-direction: column;
}
.registerFormInput {
	outline: none;
	background-color: var(--color-white-10);
	width: 75%;
	padding: 10px 20px;
	font-size: 20px;
	color: var(--color-black-10);
	border-radius: var(--radius-sm);
	margin-left: calc(25% / 2);
	border: 1px solid var(--color-darkgray-10);

	&::placeholder {
		color: var(--color-gray-04);
	}
}
.registerFormSubmit {
	background-color: var(--color-darkgray-10);
	color: var(--color-white-10);
	border: 1px solid var(--color-darkgray-10);
	transition: background-color 0.2s ease-in-out;
	&:hover {
		background-color: var(--color-darkgray-09);
		border: 1px solid var(--color-darkgray-10);
	}
	padding: 16px 24px;
	width: 75%;
	margin-left: calc(25% / 2);
	border-radius: var(--radius-sm);
	margin-bottom: 48px;
}

.registerFormError {
	width: 75%;
	margin-left: calc(25% / 2);
	color: var(--color-error-10);
	font-weight: 600;
}
